:root {
    --primary-color : rgb(238, 77, 45);
    --white-color :#fff;
    --black-color : #000;
    --text-color : #333;
    --border-color : #dbdbdb;
    --star-gold-color : #ffce3e;

    --header--height : 120px;
    --navbar-height : 20px;
    --header-with-search-height : calc(var(--header--height) - var(--navbar-height));
    --sort-header-height: 46px;
}


* {
    box-sizing: inherit;
}

html {
    font-size : 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Repronsive */
.mr-l-10 {
    margin-left: 10px;
}

.mr-top-32 {
    margin-top: 32px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
       transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal layout : bố cục modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
    z-index: 11;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    --growth-from : 0.7;
    --growth-to : 1;
    /* width: 400px;
    height: 400px; */
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}


/* Button style */
.btn {
    background-color: var(--white-color);
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-nomal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn--size-s {
    height: 30px;
    font-size: 11px;
    text-align: center;
}

.btn.btn--primary {
    color : var(--white-color);
    background-color : var(--primary-color);
}

.btn.btn--primary:hover {
    background-color: rgba(238, 77, 45, 0.9);
}

/* Vô hiệu hoá button */
.btn.btn--disabled {
    cursor: default;
    color: #ccc;
    background-color: #999;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 180px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;   
}

.select-input__list {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    list-style: none;
    display: none;
    box-shadow: 0 2px 5.1px #666;
}
/* lớp giả */
.select-input__list::after {
    position: absolute;
    right: 0;
    top: -10px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    /* background-color: red; */
}

.select-input:hover .select-input__list {
    display: block;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.select-input__link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination : phân trang */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.pagination-item{
    list-style: none;
    margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active:hover .pagination-item__link {
    background-color: rgb(245, 93, 33);
}

.pagination-item__link{
    --height : 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}



